# IntelliJ IDEA, ignore everything except vcs, run configs, code style, and inspection profiles
/.idea/*
*.iml
!/.idea/gradle.xml
!/.idea/vcs.xml
!/.idea/runConfigurations.xml
!/.idea/runConfigurations
!/.idea/codeStyles
!/.idea/codeStyleSettings.xml
!/.idea/inspectionProfiles

# VSCode, ignore everything
.vscode/

.gradle/
gradle-app.setting
gradle-local.properties
build/
out/
target/
classes/
.DS_Store

data/
